.groupscontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 10px;
}

.eachgroupcontainer {
	display: flex;
	flex-direction: column;
	height: 200px;
	border-style: solid;
	border-color: grey;
	padding: 10px;
	border-radius: 10%
}

.btn {
	font-size: 20px !important;
}

.buttontext {
	width: 200px !important;
}
