.header {
	text-align: center;
	font-family: orator-std, monospace;
	font-style: normal;
	font-weight: 200;
	text-transform: uppercase;
	padding: 20px;
}

.card {
	margin:10px;
	text-align: center;
	text-overflow: ellipsis;
	width:300px;
	border-radius: 20%;
}

.container-for-cards-no_overflow {
	height: 520px;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	text-align: center;
}

.container-for-cards {
	height: 520px;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.imagecard {
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	object-fit: contain !important;
}

.more {
	margin: 10px;
	width: 200px;
	font-size: 20px !important;
}

.ifattend {
	align-self: flex-end;
	background-color: grey;
	color: white;
	width: 300px;
	font-size:20px;
	font-style: bold;
}

.edit {
	margin: 10px;
	font-size: 15px !important;
	font-family: orator-std, monospace;
	font-style: normal;
	font-weight: 400;
}

.bottombox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 10px;
	color: dark-grey;
	font-style: italic;
	margin: 5px;
}

.logobox {
	text-align: center;
	margin: 0 0 20px 0;
}

.logo {
	width:300px;
}

.headerlogo {
	width: 100px;
}

.navbar {
	background-color: #d1d3d4 !important;
	font-size: 20px;
	font-family: orator-std, monospace;
	font-weight: 400;
	color: black !important;
}

.linav {
	margin: 0 20px 0 20px;
	color: black !important;
}

.ulnav {
  display: flex;
  width: 100%;
  list-style-type: none;
  color: black !important;
}

li a {
	color: black !important;
}

a {
	font-size: 20px;
	margin: 10px;
}

.last {
	align_self: flex-end;
}