.header {
	text-align: center;
	font-family: orator-std, monospace;
	font-style: normal;
	font-weight: 200;
	text-transform: uppercase;
}

.card {
	margin:10px;
	text-align: center;
	text-overflow: ellipsis;
	width:300px;
}

.container-for-cards {
	display: flex;
	flex-wrap: wrap;
}

.imagecard {
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	object-fit: contain !important;
}



.more {
	margin: 10px;
	width: 200px;
	font-size: 20px !important;
}

.ifattend {
	align-self: flex-end;
	background-color: grey;
	color: white;
	width: 300px;
	font-size:20px;
	font-style: bold;
}

.edit {
	margin: 10px;
	font-size: 15px !important;
	font-family: orator-std, monospace;
	font-style: normal;
	font-weight: 400;
}

.bottombox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 10px;
	color: dark-grey;
	font-style: italic;
	margin: 5px;
}

.logobox {
	text-align: center;
	margin: 0 0 20px 0;
}

.logo {
	width:200px;
}

.headerlogo {
	width: 100px;
}

.navbar {
	background-color: #d1d3d4 !important;
}