

.card {
	margin:10px;
	text-align: center;
	text-overflow: ellipsis;
}

.container-for-cards {
	display: flex;
	flex-wrap: wrap;
}

.imagecard {
	height: 300px;
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
}


.more {
	margin: 10px;
	width: 250px;
	font-size: 20px !important;
}

.ifattend {
	align-self: flex-end;
	background-color: grey;
	color: white;
	width: 300px;
	font-size:20px;
	font-style: bold;
}

.edit {
	margin: 10px;
	font-size: 15px !important;
}

.bottombox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 10px;
	color: dark-grey;
	font-style: italic;
	margin: 5px;
}